"*":
  core:
    disabledPackages: [
      "metrics"
      "spell-check"
      "welcome"
      "wrap-guide"
    ]
    packagesWithKeymapsDisabled: [
      "atom-doxit"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
  "platformio-ide-terminal":
    style:
      fontFamily: "JetbrainsMono Nerd Font"
      theme: "dracula"
    toggles:
      autoClose: true
  welcome:
    showOnStartup: false
