# X Session Files
X11/.config/X11/Xauthority
X11/.config/X11/layout

# Nvim Plugins
neovim/.config/nvim/*
!neovim/.config/nvim/init.vim
!neovim/.config/nvim/confs

# Suckless Software
suckless/.local/src
!suckless/.local/src/compileSource

# Vifm Files
vifm/.config/vifm/*
!vifm/.config/vifm/vifmrc
!vifm/.config/vifm/scripts

# ZSH Files
zsh/.config/zsh/.zcompdump

# MPD Configs
!mpd/.config/mpd/mpd.conf
!mpd/.config/playlists/molho
mpd/.config/mpd

# NCMPCPP Configs
ncmpcpp/.config/ncmpcpp
!ncmpcpp/.config/ncmpcpp/bindings
!ncmpcpp/.config/ncmpcpp/config

# Zeal
zeal/.config/Zeal/Zeal.conf
