# X Session Files
X11/.config/X11/Xauthority
X11/.config/X11/layout

# Nvim Plugins
neovim/.config/nvim/*
!neovim/.config/nvim/init.vim
!neovim/.config/nvim/confs

# Path Folder
scripts/.local/bin/vim
scripts/.local/bin/firefox

# Suckless Software
suckless/.local/src
!suckless/.local/src/compileSource

# Vifm Files
vifm/.config/vifm/*
!vifm/.config/vifm/vifmrc
!vifm/.config/vifm/scripts

# GTK Configs
!gtk/.config/gtk-2.0/gtkrc-2.0
gtk/.config/gtk-2.0/*

# ZSH Files
zsh/.config/zsh/.zcompdump

# Qutebrowser
qutebrowser/.config/qutebrowser/*
!qutebrowser/.config/qutebrowser/autoconfig.yml

# MPD Configs
!mpd/.config/mpd/mpd.conf
!mpd/.config/playlists/molho
mpd/.config/mpd

# NCMPCPP Configs
ncmpcpp/.config/ncmpcpp
!ncmpcpp/.config/ncmpcpp/bindings
!ncmpcpp/.config/ncmpcpp/config
