#!/bin/sh

# Detecting Session and it's requirements
case "$SESSION" in
	bspwm)
		sxhkd &
		polybar laptop &
		;;
	dwm)
		dwmbar &
		;;
	xfce)
		;;
esac

# General Requirements
nitrogen --set-scaled "$WALLPAPER" &
picom -f --fade-delta=5 &
setxkbmap pt &
numlockx on &
