! X colors.
*foreground:        #f6e9c6
*background:        #0c0806
*.foreground:       #f6e9c6
*.background:       #0c0806
emacs*foreground:   #f6e9c6
emacs*background:   #0c0806
URxvt*foreground:   #f6e9c6
XTerm*foreground:   #f6e9c6
UXTerm*foreground:  #f6e9c6
URxvt*background:   [100]#0c0806
XTerm*background:   #0c0806
UXTerm*background:  #0c0806
URxvt*cursorColor:  #f6e9c6
XTerm*cursorColor:  #f6e9c6
UXTerm*cursorColor: #f6e9c6
URxvt*borderColor:  [100]#0c0806

! Colors 0-15.
*.color0: #0c0806
*color0:  #0c0806
*.color1: #9B1C1A
*color1:  #9B1C1A
*.color2: #DE2120
*color2:  #DE2120
*.color3: #F12922
*color3:  #F12922
*.color4: #F85F24
*color4:  #F85F24
*.color5: #FDB234
*color5:  #FDB234
*.color6: #FFE05F
*color6:  #FFE05F
*.color7: #f6e9c6
*color7:  #f6e9c6
*.color8: #aca38a
*color8:  #aca38a
*.color9: #9B1C1A
*color9:  #9B1C1A
*.color10: #DE2120
*color10:  #DE2120
*.color11: #F12922
*color11:  #F12922
*.color12: #F85F24
*color12:  #F85F24
*.color13: #FDB234
*color13:  #FDB234
*.color14: #FFE05F
*color14:  #FFE05F
*.color15: #f6e9c6
*color15:  #f6e9c6

! Black color that will not be affected by bold highlighting.
*.color66: #0c0806
*color66:  #0c0806

! Xclock colors.
XClock*foreground: #f6e9c6
XClock*background: #0c0806
XClock*majorColor:  rgba:f6/e9/c6/ff
XClock*minorColor:  rgba:f6/e9/c6/ff
XClock*hourColor:   rgba:f6/e9/c6/ff
XClock*minuteColor: rgba:f6/e9/c6/ff
XClock*secondColor: rgba:f6/e9/c6/ff

! Set depth to make transparency work.
URxvt*depth: 32

st*alpha: 200
