#!/bin/sh

# General Requirements
slstatus &
xwallpaper --stretch "$WALLPAPER" &
picom -f --fade-delta=5 &
setxkbmap pt &
numlockx on &

if grep thinkpad /etc/conf.d/hostname > /dev/null || grep laptop /etc/conf.d/hostname
then
	xinput set-prop 13 329 0 &
fi
